Questions
The data set consists of health and demographic data for the period 2014-2015, obtained from Global Health Observatory Data Repository. Here is some metadata that may be useful.

Are there any missing values in the data set? What, if anything should be done about them if there are?

Are there any other problems with the data? If so, fix them.

Identify the country with the lowest % of their population under 15 and the one with the highest.

Which region has the highest % of their population over 60?

Does fertility decrease as income increases? Are there any countries that don’t seem to follow this relation?

Which regions have the lowest literacy rates?

Which regions have the lowest child mortality rates?

What is the life expectancy across different regions? Create a box-and-whisker plot to investigate this. What can we conclude about life expectancy across different regions?

How is life expectancy related to wealth across different regions? How is wealth related to fertility across different regions? Do these relationships hold for African countries?

Create appropriate graphs to visually represent the relationship between literacy and life expectancy by region, and then for African countries. What can be concluded from the graphs? How confident can we be in the relationships represented here?